:root {
  /* font size */
  --font-large: 1.5rem;
  --font-largemedium: 1.25rem;
  --font-smallmedium: 1.125rem;
  --font-normal: 1rem;
  --font-small: 0.875rem;

  /* font weight */
  --weight-bold: 500;
  --weight-normal: 350;
  --weight-light: 250;

  /* color  */
  --bg: #ffffff;
  --text-50: #292929;
  --text-100: #3d3d3d;
  --text-200: #464646;
  --text-300: #525252;
  --text-400: #656565;

  --blue: #5278df;
}

[data-theme="light"] {
  --bg: #ffffff;
  --text-50: #292929;
  --text-100: #3d3d3d;
  --text-200: #464646;
  --text-300: #525252;
  --text-400: #656565;
}

[data-theme="dark"] {
  --bg: #292929;
  --text-50: #ffffff;
  --text-100: #efefef;
  --text-200: #dcdcdc;
  --text-300: #ededed;
  --text-400: #989898;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #292929;
    --text-50: #ffffff;
    --text-100: #efefef;
    --text-200: #dcdcdc;
    --text-300: #ededed;
    --text-400: #989898;

    --blue: #5278df;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--bg);
}

body {
  display: flex;
  flex-direction: column;
  max-width: 42rem;
  margin: 2rem 1rem 10rem;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--text-50);
}

h2 {
  font-size: var(--font-largemedium);
  font-weight: var(--weight-bold);
  color: var(--text-50);
}
h3 {
  font-size: var(--font-smallmedium);
  font-weight: var(--weight-bold);
  color: var(--text-50);
}
h4 {
  font-size: var(--font-normal);
  font-weight: var(--weight-bold);
  color: var(--text-50);
}

p {
  font-size: var(--font-normal);
  font-weight: var(--weight-normal);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (min-width: 1024px) {
  body {
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 768px) {
  body {
    margin-right: auto;
    margin-left: auto;
  }
}
