.content {
  padding: 0 1.5rem;
}

.content_brief {
  display: flex;
  margin: 0.5rem 0 2rem 0;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-b);
  font-weight: var(--weight-light);
  font-size: var(--font-small);
}

.content_body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media (max-width: 768px) {
  .content {
    padding: 0 0.5rem;
  }
}
